<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name), class: 'btn c-btn-gray py-2 my-2', style: 'height: auto; color: white; line-height: 22px;' %>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%#- if devise_mapping.omniauthable? %>
  <%#- resource_class.omniauth_providers.each do |provider| %>
    <%#= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
  <%# end -%>
<%# end -%>

<%= link_to user_facebook_omniauth_authorize_path,
    class: 'btn c-btn-blue py-2 my-2', style: 'height: auto; line-height: 22px;' do %>
  <i class="fa fa-facebook-f align-middle mr-3" style="font-size: 20px;"></i>
  <span class="align-middle">Login with Facebook</span>
<% end %>

<%= link_to user_google_oauth2_omniauth_authorize_path,
    class: 'btn c-btn-red py-2 my-2', style: 'height: auto; line-height: 22px;' do %>
  <i class="fa fa-google-plus align-middle mr-3" style="font-size: 20px;"></i>
  <span class="align-middle">Login with Google+</span>
<% end %>