- if release.pending?
  %h3
    Encoding is still running. Please check back in a few minutes
  .text-info{style: 'color: blue'}
    Contact dev team if the encode process is taking longer than usual
- elsif release.failed?
  %h4
    Your recent encoding attempt failed please run the encoding again with correct files and values.
%h2
  Download Links
- if release.assembly_complete?
  %h2
    Release Files
  - release.release_files.each do |file|
    %a{download: "", href: "#{file.url_string}", style: "text-decoration: none"}
      &nbsp;
      = file.format

  - release.tracks.each do |t|
    - unless t.track_files.count < 9
      %h2
        Track:
        = t.title
      Samples:
      %a{download: "", href: "#{t.sample_mp3_uri}", style: "text-decoration: none"}
        Sample MP3
      %a{download: "", href: "#{t.sample_ogg_uri}", style: "text-decoration: none"}
        Sample OGG
      %br
      Waveform:
      %a{download: "", href: "#{t.waveform_image_uri}", style: "text-decoration: none"}
        Waveform
      %br
      - t.track_files.each do |file|
        - if ['zip_aiff', 'zip_wav', 'zip_flac', 'zip_mp3'].include?(file.format)
          %a{download: "", href: "#{file.url_string}", style: "text-decoration: none"}
            &nbsp;
            = file.format
- else
  %p.text-danger
    This release has not been encoded yet
    Please Hit the encode button again
